# --- IDE и системные файлы ---
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.log

# --- C++ / Visual Studio ---
*.exe
*.pdb
*.ilk
*.lib
*.out
x64/
Debug/
Release/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/

# --- Node.js (BetterDiscord / Discord.js) ---
node_modules/
dist/
.DS_Store

# --- Конфиденциальные данные ---
*.token
*.config
KolinBot/.env

# --- Базы данных ---
*.sqlite
*.sqlite-wal
*.sqlite-shm
src/data.sqlite
src/data.sqlite-shm
src/data.sqlite-wal

data/
/.idea/
